html
  head
    title Planning Poker
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    base(href='/')
    // 1. Load libraries
    // Polyfill(s) for older browsers
    link(href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/node_modules/angular2-toaster/toaster.css', rel='stylesheet')
    link(href='/app/style/app.css', rel='stylesheet')
    link(href='/app/style/spinner.css', rel='stylesheet')
    script(src='/node_modules/core-js/client/shim.min.js')
    script(src='/node_modules/zone.js/dist/zone.js')
    script(src='/node_modules/reflect-metadata/Reflect.js')
    script(src='/node_modules/systemjs/dist/system.src.js')
    // 2. Configure SystemJS
    script(src='/app/systemjs.config.js')
    script.
      System.import('app').catch(function(err){ console.error(err); });
  // 3. Display the application
  body
    app
      .sk-circle
        .sk-circle1.sk-child
        .sk-circle2.sk-child
        .sk-circle3.sk-child
        .sk-circle4.sk-child
        .sk-circle5.sk-child
        .sk-circle6.sk-child
        .sk-circle7.sk-child
        .sk-circle8.sk-child
        .sk-circle9.sk-child
        .sk-circle10.sk-child
        .sk-circle11.sk-child
        .sk-circle12.sk-child
</div>