doctype html
html(lang='en')
  head
    title Planning Poker
    meta(charset='UTF-8', name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no')
    base(href='/')
    link(rel='icon', type='image/png', href='/app/favicon.png')
    // 1. Load libraries
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='/node_modules/angular2-toaster/toaster.css', rel='stylesheet')
    link(href='/app/style/main.css', rel='stylesheet')
    link(href='/app/style/spinner.css', rel='stylesheet')
    script(src='/node_modules/core-js/client/shim.min.js')
    script(src='/node_modules/zone.js/dist/zone.js')
    script(src='/node_modules/reflect-metadata/Reflect.js')
    script(src='/node_modules/systemjs/dist/system.src.js')
    // 2. Configure SystemJS
    script(src='/app/systemjs.config.js')
    script.
      System.import('app').catch(function(err){ console.error(err); });
  // 3. Display the application
  body
    app
      .spinner(style='position: absolute; top: 50%; left: 50%; margin: -9px 0 0 -35px;')
        .bounce1
        .bounce2
        .bounce3