.vote {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #2e3338;
}

div.user > span.username, div.user > div.poker-card, .selected > div.poker-card {
    color: #5bc0de;
}

.pickable:hover {
    cursor:  pointer;
    border-color: #c8c8c8;
}

div.poker-card {
    background-color: #ffffff;
    color: #1c1e22;
    box-shadow: 2px 2px 4px #1c1e22;
    margin: auto;
    padding-top: 50%;
    width: 70px;
    height: 100px;
    font-size: 28px;
    text-align: center;
    border: 2px solid #1c1e22;
    border-radius: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inactive {
    color: #ee5f5b;
}

.username.inactive {
    font-style: italic;
}