template(ngbModalContainer)
toaster-container([toasterconfig]='toasterConfig')

nav.navbar.sticky-top.navbar-toggleable-md.navbar-inverse.bg-inverse.mb-4
  button.navbar-toggler.navbar-toggler-right(type='button', (click)='toggleCollapse()')
    span.navbar-toggler-icon
  a.navbar-brand(routerLink='/')
    i.fa.fa-circle([ngClass]='{ "text-danger": !isConnected, "text-success": isConnected }')
    | &nbsp; Planning Poker
  .collapse.navbar-collapse([class.show]='!navbarCollapsed')
    ul.navbar-nav.mr-auto
    ul.navbar-nav
      li.nav-item
        a.nav-link(role='button', (click)='userNameModal()')
          i.fa.fa-cog
          | &nbsp; {{ userName }}

router-outlet