template(ngbModalContainer)
toaster-container([toasterconfig]='toasterConfig')

nav.navbar.navbar-default
  .container-fluid
  .navbar-header
    button.navbar-toggle(type='button', (click)='collapse()')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(routerLink='/')
      i.fa.fa-circle([ngClass]='{ "text-danger": !isConnected, "text-success": isConnected }')
      | &nbsp; Planning Poker
  .navbar-collapse([ngClass]='{ collapse: navbarCollapsed }')
    ul.nav.navbar-nav.navbar-right
      li
        a(style='cursor: pointer;', (click)='isConnected && userNameModal()') {{ userName }}

router-outlet