.modal-header
  h4.modal-title Game config
  button.close(type='button', aria-label='Close', (click)='activeModal.dismiss()')
    span(aria-hidden='true') &times;
.modal-body
  .container
    form(name='configForm', (submit)='activeModal.close(config)', #configForm='ngForm')
        fieldset.form-group.row([disabled]='isHost ? "" : "disabled"')
            .form-check
                label.form-check-label
                    input.form-check-input(type='checkbox', name='autoEnd',
                        [(ngModel)]='config.autoEnd', #name='ngModel')
                    |  Automatically end round when all players have picked a card
        .form-group.row
            .col-sm-10
            .col-sm-2
                button.btn.btn-success.w-100(type='submit', [disabled]='!configForm.form.valid') Save