template(ngbModalContainer)
.container-fluid
    .row
        .col-sm-4.col-sm-offset-4
            .panel.panel-default
                .panel-heading
                    .btn-group.pull-right(*ngIf='userPid === hostPid')
                        button.btn.btn-default.btn-sm(type='button', style='margin-top: -3px', (click)='startStopGame()')
                            span.fa([ngClass]='{ "fa-stop": isVoting, "fa-play": !isVoting }')
                    h4.panel-title
                        | Game: {{ gameId }}
                .panel-body(style='text-align: center')
                    .vote([ngClass]='{ user: player.user.pid === userPid, pickable: isVoting }', *ngFor='let player of playersList', (click)='isVoting && player.user.pid === userPid && cardModal()')
                        .poker-card([innerHtml]='player.currentCard | cardText')
                        span.username
                            small(*ngIf='player.user.pid === hostPid')
                                span.fa.fa-star &nbsp;
                            | {{ player.user.userName }}