.container-fluid
    .row
        .col-sm-4.col-sm-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title
                        | Game
                        span.pull-right {{ GameId }}
                .panel-body(style='text-align: center')
                    .vote([class.user]='player.Pid === UserPid', *ngFor='let player of PlayersList')
                        .poker-card {{ player.CurrentCard }}
                        span.username
                            small([hidden]='player.Pid !== HostPid')
                                span.glyphicon.glyphicon-star
                            | {{ player.User.UserName }}