.container-fluid
    .row
        .col-sm-4.col-sm-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title
                        | Game
                        span.pull-right {{ gameId }}
                .panel-body(style='text-align: center')
                    .vote([class.user]='player.pid === userPid', *ngFor='let player of playersList')
                        .poker-card {{ player.currentCard }}
                        span.username
                            small([hidden]='player.pid !== hostPid')
                                span.glyphicon.glyphicon-star
                            | {{ player.user.userName }}