.container-fluid
    .row
        .col-sm-6.col-sm-offset-3
            .panel.panel-default
                .panel-heading
                    .btn-group.pull-right(*ngIf='isHost')
                        button.btn.btn-default.btn-sm(type='button', style='margin-top: -3px', (click)='startStopGame()')
                            span.fa([ngClass]='{ "fa-stop": isVoting, "fa-play": !isVoting }')
                    .btn-group.pull-right(*ngIf='!isHost')
                        button.btn.btn-default.btn-sm(type='button', style='margin-top: -3px', (click)='leaveGame()')
                            span.fa.fa-sign-out
                    h4.panel-title
                        | Game # {{ gameId }}
                        span &nbsp;[
                        span.game-state([ngClass]='{ "text-danger": socketState!==1, "text-success": socketState===1 && isVoting, "text-warning": socketState===1 && !isVoting }')
                            | {{ socketState!==1 ? 'Disconnected' : (isVoting ? 'Voting' : 'Waiting') }}
                        span ]
                .panel-body(style='text-align: center', [hidden]='socketState!==1')
                    .vote([ngClass]='{ user: player.user.pid === userPid, pickable: (player.user.pid === userPid && isVoting) || (player.user.pid !== userPid && isHost) }',
                    *ngFor='let player of playersList',
                    (click)='(isVoting && player.user.pid === userPid && cardModal()) || (!(player.user.pid === userPid) && isHost && kickModal(player))')
                        .poker-card([innerHtml]='player.currentCard | cardText')
                        span.username([class.inactive]='!player.user.active')
                            small(*ngIf='player.user.pid === hostPid')
                                span.fa.fa-star &nbsp;
                            | {{ player.user.userName }}
                .panel-body([hidden]='socketState===1')
                    .spinner(style='margin: 50px auto 50px auto')
                        .bounce1
                        .bounce2
                        .bounce3