.container-fluid
    .row
        .col-sm-4.col-sm-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title Menu
                .panel-body
                    form.form-horizontal(name='joinForm', novalidate, (submit)='onJoinGame()', #joinForm='ngForm')
                        .form-group
                            .col-xs-7
                                input.form-control(type='text', name='gameId', width='8', placeholder='Game Id',
                                    required, pattern='[0-9a-f]{8}', minlength='8', maxlength='8',
                                    [(ngModel)]='joinModel.gameId', #name='ngModel')
                            .col-xs-5
                                button.btn.btn-default(style='width: 100%', type='submit', [disabled]='!joinForm.form.valid')
                                    i.fa.fa-arrow-right
                                    | &nbsp;Join
                    form.form-horizontal(name='createForm', style='margin-top: 50px;', novalidate, (submit)='onCreateGame()')
                        .form-group
                            .col-xs-offset-7.col-xs-5
                                button.btn.btn-default(style='width: 100%', type='submit')
                                    i.fa.fa-plus
                                    | &nbsp;Create
    .row
        .col-sm-4.col-sm-offset-4
            .panel.panel-default
                .panel-heading
                    h3.panel-title Active Users
                .panel-body.text-center
                    span(style='margin: 0px 10px; display: inline-block;',
                            *ngFor='let user of usersList')
                        i.fa.fa-user
                        | &nbsp;{{user.userName}}