.container-fluid
    .row.justify-content-md-center
        .col-sm-4
            .card
                .card-header
                    .btn-group.pull-right
                        button.btn.btn-secondary.btn(type='button', (click)='onCreateGame()')
                            span.fa.fa-plus
                    h3.align-middle Games
                .card-block([hidden]='!isConnected')
                    .list-group
                        a.list-group-item.list-group-item-action.justify-content-between(role='button', [routerLink]='["/game", gvm.gameId]',
                                *ngFor='let gvm of gamesList')
                            h5.d-inline {{ gvm.gameName }}
                            span.badge.badge-default.badge-pill {{ gvm.playersCount }}
                .card-block([hidden]='isConnected')
                    .spinner
                        .bounce1
                        .bounce2
                        .bounce3
    .row.justify-content-md-center.mt-2
        .col-sm-4
            .card
                .card-header
                    h3.align-middle Active Users
                .card-block.text-center([hidden]='!isConnected')
                    span.d-inline-block.mx-2(*ngFor='let user of usersList')
                        i.fa.fa-user
                        h5.d-inline &nbsp;{{user.userName}}
                .card-block([hidden]='isConnected')
                    .spinner
                        .bounce1
                        .bounce2
                        .bounce3