.container-fluid
    .row.justify-content-md-center
        .col-sm-4
            .card
                .card-header
                    .btn-group.pull-right
                        button.btn.btn-secondary.btn-sm(type='button', (click)='onCreateGame()')
                            span.fa.fa-plus
                    span.align-middle Games
                .card-block([hidden]='!isConnected')
                    button.btn.btn-secondary.game(*ngFor='let gvm of gamesList', (click)='onJoinGame(gvm.game.gameId)')
                        p {{ gvm.gameName }}
                        p {{ gvm.playersCount }} player(s)
                .card-block([hidden]='isConnected')
                    .spinner
                        .bounce1
                        .bounce2
                        .bounce3
    .row.justify-content-md-center.mt-2
        .col-sm-4
            .card
                .card-header
                    span.align-middle Active Users
                .card-block.text-center([hidden]='!isConnected')
                    span.d-inline-block.mx-2(*ngFor='let user of usersList')
                        i.fa.fa-user
                        | &nbsp;{{user.userName}}
                .card-block([hidden]='isConnected')
                    .spinner
                        .bounce1
                        .bounce2
                        .bounce3