.modal-header
  h4.modal-title Kick player: {{ player.userName }}
  button.close(type='button', aria-label='Close', (click)='activeModal.dismiss()')
    span(aria-hidden='true') &times;
.modal-body
  .container
    form(name='kickPlayerForm', (submit)='activeModal.close()', #kickPlayerForm='ngForm')
      .form-group.row
        .col-6
          button.btn.btn-danger.w-100(type='submit')
            span.fa.fa-ban
            | &nbsp;Kick
        .col-6
          button.btn.btn-secondary.w-100(type='button', (click)='activeModal.dismiss()')
            | Cancel